<mat-toolbar>
  <span class="title">templater</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="toolbar-padding-top" opened mode="side">
    <mat-nav-list>

      <mat-list-item>
        <a matLine href="/templates" class="menu-item">Templates</a>
        <button mat-icon-button>
          <mat-icon>info</mat-icon>
        </button>
      </mat-list-item>

      <mat-list-item>
        <a matLine href="/settings" class="menu-item">Settings</a>
        <button mat-icon-button>
          <mat-icon>build</mat-icon>
        </button>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <div class="toolbar-padding-top">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>